/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #2A2E30;
  color: white;
  font-family: 'Oswald', sans-serif;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 20px;
}

/* INTRO */
#intro-page-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 20px;
}
.intro-logo-h1 { 
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.intro-logo-img {
  width:80px;
  height:80px;
} 


/* HEADER */
#header-wrapper {
  display: none;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  min-height: 8vh;
  z-index: 2;
}
#turn-on-off-notice-btn,
#menu-btn {
  background: none;
  border: none;
}


/*MAIN*/
#main-wrapper {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-height: 90vh; 
}
.main-wrapper-offline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*FOTO*/
#take-photo-section,
#your-photo-section {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  padding-bottom: 29px;
}
video {
  width: 342px; 
  height: 291px; 
  margin-top: 50%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  object-fit: fill; 
} 
canvas {
  width: 342px; 
  height: 291px;
  margin-top: 50%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}
.camera-button {
  width: 100%;
  margin-top: 30%;
  padding: 24px 16px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}



/* GALLERI */
#gallery-section {
  display: none;
  padding-top: 36px;
}
#gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.0rem;
}
.no-pics-message {
  min-height: 80vh;
  padding-top: 30vh;
  font-weight: 500; 
}
.update-gallery {
  display: none;
  position: absolute;
  top:20px;
  left: 17%;
  width: 66%;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.1em;
  z-index: 3;
}
.update-gallery-text {
  font-weight: bold;
}
.image-wrapper{
  position: relative;
}
.gallery-img {
  width: 163px;
  height: 149px;
}
#remove-btn {
  position: absolute;
      top: 8px;
      right: 8px;
  background: none;
  border: none;
  color: white;
}
.trash {
  height: 1rem;
  width: 1rem;
}
.spinner {
  width: 50px;
  height: 50px;
  margin-top: 250px;
  color: white;
  font-size: 50px;
  border: 0;
  background-color: transparent;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin { 
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}


@media screen and (min-width:550px) {
  #take-photo-section,
  #your-photo-section {
    gap: 10px;
    padding-bottom: 0px;
  }
  .camera-button {
    width: auto;
    min-width:70%;
    margin-top: 40%;
  }
  video,
  canvas {
    width: 513px;
    height:436px;
    margin-top: 0px;
  }
  .spinner {
    margin-top: 100px;
  }
}

@media screen and (min-width:800px) {
  .page-wrapper {
    width: 800px;
  }
  .camera-button {
    width: auto;
    min-width: 70%;
    margin-top: 0;
  }
}
